*.pem
TAGS
gmid
iri_test
*.o
docs
lex.yy.c
y.tab.*
Makefile.local
config.h
config.h.old
config.log
config.log.old
configure.local
regress/testdata
regress/*.pem
regress/reg.conf
regress/fill-file
regress/iri_test
regress/*.o
