*~
*.pem
TAGS
gmid
gg
*.d
*.o
*.swp
have/*.d
compat/*.d
compat/*.o
docs
y.tab.*
Makefile.local
compile_flags.txt
config.h
config.h.old
config.log
config.log.old
configure.local
!contrib/gmid
!contrib/vim/syntax_checkers/gmid
regress/testdata
regress/*.d
regress/*.pem
regress/*.key
regress/*.crt
regress/*.csr
regress/*.srl
regress/reg.conf
regress/fcgi-test
regress/fill-file
regress/iri_test
regress/puny-test
regress/*.o
regress/gg
regress/gmid.pid

site/gemini
site/www
